
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于</title>   
    <link href="~/css/aboutus.css" rel="stylesheet" />
</head>
<body>
    <div class="top">
        <div class="topContent">
            <span>VidaHouseManage</span>
            <span>@Html.ActionLink("登录", "Login", "Account")</span>
        </div>
    </div>
    <div class="middleContent1">
        <h2>产品与服务</h2>
        <div class="iconBox">
            <div>
                <a href="http://release.vidahouse.com/VidaDesignerOL-Shipped-1.2-LocalUI.rar">
                    <div class="icon"></div>
                    <span>PC端(VidaDesigner)下载</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="icon"></div>
                    <span>APP(玩家生活)iOS下载</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="icon"></div>
                    <span>APP(玩家生活)安卓下载</span>
                </a>
            </div>
        </div>
    </div>
    <div class="middleContent2">
        <h2>欢迎咨询我们的玩家达人</h2>
        <div class="middleContent2_content">
            <ul>
                <li>
                    <i></i>
                    <a href="">weibo:vidahouse玩家生活</a>
                </li>
                <li>
                    <i></i>
                    <span>wechat:VIDAHOUSE</span>
                </li>
                <li>
                    <i></i>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2447463166&amp;site=qq&amp;menu=yes">
                        <img src="~/images/qq.png" alt="">
                    </a>
                    <span>(周一至周五 10:00-19:00)</span>
                </li>
            </ul>
            <ul>
                <li>
                    <i></i>
                    <span>400-821-9191 (周一至周五10:00-19:00)</span>
                </li>
                <li>
                    <i></i>
                    <span>E-mail：contact@vidahouse.com</span>
                </li>
                <li>
                    <i></i>
                    <span>上海市徐汇区桂林路396号浦<br />原科技园3号楼4楼</span>
                </li>
            </ul>
        </div>
    </div>
    <footer>
        <ul>
            <li><a href="">使用条款</a></li>
            <li><a href="">版权申明</a></li>
            <li><a href="">隐私政策</a></li>
        </ul>
        <span class="copyRight">版权所有©2016 上海威墨信息科技有限公司 &nbsp&nbsp&nbsp备案©京工CP备15004316号cznn</span>
        <span>2017 - Matrix Admin. Brought to you by Themedesigner.in</span>
    </footer>
</body>
</html>