<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="projectName" value="test"/>

  <variable name="logDirectory" value="D:/nlog/${projectName}/${shortdate}"/>
  <targets>
    <target xsi:type="File" name="logfiles" fileName="${logDirectory}/${shortdate}.log" layout="${longdate} ${level} ${message} ${stacktrace} ${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfiles" /><!--,logdatabase-->
  </rules>
</nlog>